body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(213, 212, 234);
}

header {
    color: rgb(19, 22, 19);
    font-size: 32px;
    display: flex;
    justify-content: space-between ;
    background-color:rgb(171, 170, 188);
    border-radius: 10px;
}

#nav-list {
    display: flex;
    gap: 30px;    
}

input:focus { 
    outline: 2px solid;
}

input, textarea, select {
    box-sizing: border-box;
    padding: 3px;
    border: 1px;
    border-radius: 10px;
    transition: border-color 0.15s, box-shadow 0.15;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-container {
    display:flex;
    flex-direction: column;
    gap: 16px;
}
#contact-submit{
    background-color: rgb(109, 107, 225);
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
}
#contact-submit:hover {
    background-color: blueviolet;
}